*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 3% auto;
    width: 70%;
}
.logo{
    width: 60%;
}
nav{
    width: 40%; 
}
nav ul {
    display: flex;

}
nav ul li {
    list-style: none;
    margin-left: 6%;
    
}
nav ul li a{
    text-decoration: none;
    color:#5E607A ;
    
}
nav ul li a:hover{
    color: #F15D51;
}
#mobile{
    display: none;
}
#close{
    display: none;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 3% auto;
    width: 70%;
}
.avater {
    width: 70%;
   
    margin: 0 auto;

}
.avater .web{
    width: 95%;
    transition:0.2s ease;
}
.avater .mobile{
    display: none;
}

.avater h1{
    font-size: 60px;

}
.side{
    background-color:#00001A;
    height: 67vh;
    width: 30%;
    color: white;
}
.side h2{
    color: #E9AA52;
    margin: 5%;
    font-size: 40px;
}
.side h4{
    margin: 5%;
}
.side h4:hover{
    color: #E9AA52;
}
.side p{
    margin: 5%;
    font-size: 12px;
    line-height: 20px;
    font-weight: 100;
    opacity: 80%;
    margin-bottom: 10%;
}
.text{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 2%;
}
.left-text{
    width: 45%;
}
.right-text{
    width: 50%;
}
.right-text p {
    line-height: 4vh;
}
.text button {
    width: 50%;
    margin-top: 10%;
    height: 6vh;
    border: none;
    background-color:#F15D51;
    color: #fff;
    letter-spacing: 4px;
    font-weight: 700;
    cursor: pointer;

}
.text button a{
    text-decoration: none;
}
  
.text button:hover{
    background-color: #00001A;
}
.side hr{
    width: 90%;
    margin: 0 auto;
    opacity: 20%;

}
.side-text{
    margin-bottom: 15%;
}
.buttom-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 10% auto;
}
.buttom-div{
    display: flex;
    width: 32%;
    height: 18vh;
}
.number-one-image img{
    height: 18vh;
}
.number-one-text{
    margin-left: 5%;
}

.number-one-text p{
    font-size: 12px;
    text-align:initial;
    line-height: 20px;

}
.number-one-text h4:hover{
    color: #F15D51;
}
.number-one-text h1{
    color: #5E607A;
    opacity: 50%;
}
@media screen and (min-width: 320px) and (max-width:480px) {

    .container{
        display:block;
        width: 100%;
 
    }
    .avater .web{
        display: none;
    }
    .avater .mobile{
        display: block;
        width: 100%;
    }
    .text{
        display: block;;
    }
    .left-text{
        width: 100%;
        font-size: 10px;
    }
    .right-text{
        width: 100%;
    }
    .side{
        width: 70%;
        margin: 0 auto;
        height: 60vh;
    }
    .buttom-container{
        display: block;
        width: 70%;
        margin: 10% auto;
    }
    .buttom-div{
        width: 100%;
        margin-bottom: 10%;
    }
    nav{
        width: 80%;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        height: 100vh;
        right: -40%;
        top: 0;
        width: 40%;
        background-color: white;
        padding: 200px 0 0 10px;
        transition: 0.3s ease;

    }
    nav ul li a{
        font-weight: 600;
    }
    nav ul div{
        margin: -200% 0 0 70%;
        
    }
    nav ul div img{
        width: 70%;
    }
    #close{
        display: block;
    }
    nav ul.active{
        right: 0%;
    }
    nav ul li{
        margin-bottom: 25px ;
    }
    #mobile{
        display: block;
    }
}